.popup__closer{
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  font-size: 40px;
  background-image: url(../../../image/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.popup__closer:hover{
  opacity: .6;
  transition: opacity .3s linear;
}
@media screen and (max-width: 320px){
  .popup__closer{
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-color: black;
  }
}