@import url(./__card/elements__card.css);
@import url(./__image/elements__image.css);
@import url(./__info/elements__info.css);
@import url(./__like/elements__like.css);
@import url(./__like/_liked/elements__like_liked.css);
@import url(./__title/elements__title.css);
@import url(./__waste/elements__waste.css);
.elements{
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  margin: 47px auto 0;
  justify-content: center;
}