/* Вынесла в отдельный блок так как добавляю к "крестику" другого попапа */
.popup-closer{
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  font-size: 40px;
  background-image: url(../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.popup-closer:hover{
  opacity: .6;
  transition: opacity .3s linear;
}
.popup-closer:focus{
  outline: none;
}
@media screen and (max-width: 768px){
  .popup-closer{
    width: 20px;
    height: 20px;
    top: -15px;
    right: -15px;
    
  }
}