.profile__name{
  max-width: 295px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0 17px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px){
  .profile__name{
    width: 201px;
    font-size: 27px;
    line-height: 56px;
    text-align: center;
    margin: 0;
  }
}