.root{
  min-width: 320px;
  background: #000000;
  padding-top: 45px;
  padding-bottom: 60px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px){
  .root{
    padding-top: 28px;
    padding-bottom: 36px;
  }
}