.profile__description{
  max-width: 295px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 16px 0 25px 0;
}
@media screen and (max-width: 768px){
  .profile__description{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
  }
}