.profile__avatar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media screen and (max-width: 768px){
  .profile__avatar{
    flex-direction: column;
    align-items: center;
  }
}