.profile__info{
  margin: 18px 0 0 30px;
  max-width: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 768px){
  .profile__info{
   justify-content: center;
    margin: 0;
    
  }
}